## Instalar e carregar as bibliotecas

In [20]:
%pip install pandas seaborn matplotlib

import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

Requirement already satisfied: pandas in c:\python312\lib\site-packages (2.1.2)
Requirement already satisfied: seaborn in c:\python312\lib\site-packages (0.13.2)
Requirement already satisfied: matplotlib in c:\python312\lib\site-packages (3.8.3)
Requirement already satisfied: numpy<2,>=1.26.0 in c:\python312\lib\site-packages (from pandas) (1.26.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\python312\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\python312\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\python312\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: contourpy>=1.0.1 in c:\python312\lib\site-packages (from matplotlib) (1.2.0)
Requirement already satisfied: cycler>=0.10 in c:\python312\lib\site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\python312\lib\site-packages (from matplotlib) (4.49.0)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\python312\lib\site-packages (from matplotlib) (1.4.5)
Requirement already satisfied: packaging>=20.0 in c:\users\leo oli\appdata\roaming\python\python312\site-packages (from matplotlib) (23.2)
Requirement already satisfied: pillow>=8 in c:\python312\lib\site-packages (from matplotlib) (10.2.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\python312\lib\site-packages (from matplotlib) (3.1.1)
Requirement already satisfied: six>=1.5 in c:\python312\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

## 2. Carregar dados

In [21]:
df = pd.read_csv("survey.csv")
df.head()

,user_id,language,platform,gender,age,q1,q2,q3,q4,q5,...,q17,q18,q19,q20,q21,q22,q23,q24,q25,q26
0,080c468b-27c0-455c-aa63-b8f807f2e3d7,en,Desktop,male,34.0,9.0,7.0,6.0,6.0,7.0,...,8.0,4.0,6.0,5.0,6.0,6.0,5.0,2.0,5.0,3.0
1,0b0379c7-04db-4c85-84bd-a2bd55329e29,en,Mobile,female,19.0,10.0,10.0,10.0,9.0,10.0,...,10.0,10.0,10.0,10.0,10.0,10.0,10.0,10.0,9.0,8.0
2,0e623280-b28b-4d4a-8eea-0732f09ed497,en,Mobile,female,19.0,10.0,10.0,10.0,10.0,10.0,...,9.0,8.0,10.0,10.0,10.0,10.0,9.0,9.0,8.0,8.0
3,045dc0f3-a730-4d03-a615-f51814e5b04f,en,Mobile,male,21.0,5.0,8.0,5.0,5.0,5.0,...,7.0,9.0,10.0,8.0,8.0,10.0,10.0,8.0,10.0,6.0
4,092f2ee7-5281-4a09-9bce-e5523b95b53b,en,NaN,female,53.0,9.0,10.0,9.0,10.0,9.0,...,7.0,8.0,8.0,8.0,9.0,9.0,10.0,10.0,10.0,10.0

## 3. Limpando os dados

1. remover dados faltantes
2. remover duplicatas
3. remover colunas com baixa utilidade

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 80 entries, 0 to 79
Data columns (total 31 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   user_id   74 non-null     object
 1   language  74 non-null     object
 2   platform  66 non-null     object
 3   gender    74 non-null     object
 4   age       75 non-null     float64
 5   q1        74 non-null     float64
 6   q2        75 non-null     float64
 7   q3        75 non-null     float64
 8   q4        75 non-null     float64
 9   q5        74 non-null     float64
 10  q6        75 non-null     float64
 11  q7        75 non-null     float64
 12  q8        75 non-null     float64
 13  q9        75 non-null     float64
 14  q10       74 non-null     float64
 15  q11       75 non-null     float64
 16  q12       75 non-null     float64
 17  q13       75 non-null     float64
 18  q14       74 non-null     float64
 19  q15       75 non-null     float64
 20  q16       75 non-null     float64
 21  q17       75 non-null     float64
 22  q18       74 non-null     float64
 23  q19       74 non-null     float64
 24  q20       75 non-null     float64
 25  q21       75 non-null     float64
 26  q22       75 non-null     float64
 27  q23       75 non-null     float64
 28  q24       75 non-null     float64
 29  q25       75 non-null     float64
 30  q26       75 non-null     float64
dtypes: float64(27), object(4)
memory usage: 19.5+ KB

In [23]:
df = df.dropna()  # Elimina todas as linhas com dados faltantes (pode ser legal armazenar o clean em outro DF)
df = df.fillna(0) # Preenche com zero   as linhas que estÃ£o faltando

df.dropna(inplace=True) # NÃ¢o Ã© boa prÃ¡tica pois pode perder dados.

In [24]:
df.info() # Mostra  informaÃ§Ãµes do DataFrame

<class 'pandas.core.frame.DataFrame'>
Index: 62 entries, 0 to 74
Data columns (total 31 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   user_id   62 non-null     object
 1   language  62 non-null     object
 2   platform  62 non-null     object
 3   gender    62 non-null     object
 4   age       62 non-null     float64
 5   q1        62 non-null     float64
 6   q2        62 non-null     float64
 7   q3        62 non-null     float64
 8   q4        62 non-null     float64
 9   q5        62 non-null     float64
 10  q6        62 non-null     float64
 11  q7        62 non-null     float64
 12  q8        62 non-null     float64
 13  q9        62 non-null     float64
 14  q10       62 non-null     float64
 15  q11       62 non-null     float64
 16  q12       62 non-null     float64
 17  q13       62 non-null     float64
 18  q14       62 non-null     float64
 19  q15       62 non-null     float64
 20  q16       62 non-null     float64
 21  q17       62 non-null     float64
 22  q18       62 non-null     float64
 23  q19       62 non-null     float64
 24  q20       62 non-null     float64
 25  q21       62 non-null     float64
 26  q22       62 non-null     float64
 27  q23       62 non-null     float64
 28  q24       62 non-null     float64
 29  q25       62 non-null     float64
 30  q26       62 non-null     float64
dtypes: float64(27), object(4)
memory usage: 15.5+ KB

In [25]:
duplicadas = df[df.duplicated()] # Duplica  as linhas que estÃ£o repetidas

df = df.drop_duplicates() # apaga as linhas duplicadas

print(duplicadas)

                                 user_id language platform  gender   age   q1  \
73  a7788435-7465-4f4d-9f4f-d412db68b295       en   Mobile  female  18.0  1.0
74  a7788435-7465-4f4d-9f4f-d412db68b295       en   Mobile  female  18.0  1.0

     q2   q3   q4   q5  ...  q17  q18  q19  q20  q21  q22   q23   q24  q25  \
73  1.0  1.0  2.0  2.0  ...  9.0  9.0  8.0  7.0  5.0  7.0  10.0  10.0  6.0
74  1.0  1.0  2.0  2.0  ...  9.0  9.0  8.0  7.0  5.0  7.0  10.0  10.0  6.0

     q26
73  10.0
74  10.0

[2 rows x 31 columns]

In [26]:
df = df.drop("user_id", axis=1)

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 60 entries, 0 to 72
Data columns (total 30 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   language  60 non-null     object
 1   platform  60 non-null     object
 2   gender    60 non-null     object
 3   age       60 non-null     float64
 4   q1        60 non-null     float64
 5   q2        60 non-null     float64
 6   q3        60 non-null     float64
 7   q4        60 non-null     float64
 8   q5        60 non-null     float64
 9   q6        60 non-null     float64
 10  q7        60 non-null     float64
 11  q8        60 non-null     float64
 12  q9        60 non-null     float64
 13  q10       60 non-null     float64
 14  q11       60 non-null     float64
 15  q12       60 non-null     float64
 16  q13       60 non-null     float64
 17  q14       60 non-null     float64
 18  q15       60 non-null     float64
 19  q16       60 non-null     float64
 20  q17       60 non-null     float64
 21  q18       60 non-null     float64
 22  q19       60 non-null     float64
 23  q20       60 non-null     float64
 24  q21       60 non-null     float64
 25  q22       60 non-null     float64
 26  q23       60 non-null     float64
 27  q24       60 non-null     float64
 28  q25       60 non-null     float64
 29  q26       60 non-null     float64
dtypes: float64(27), object(3)
memory usage: 14.5+ KB

## 4. Calculando estatÃ­sticas descritivas

In [28]:
df.describe()

,age,q1,q2,q3,q4,q5,q6,q7,q8,q9,...,q17,q18,q19,q20,q21,q22,q23,q24,q25,q26
count,60.000000,60.000000,60.000000,60.000000,60.000000,60.000000,60.000000,60.000000,60.000000,60.000000,...,60.000000,60.000000,60.000000,60.000000,60.000000,60.000000,60.00000,60.000000,60.000000,60.000000
mean,25.016667,8.000000,7.816667,7.933333,7.400000,7.666667,7.766667,7.783333,7.783333,7.433333,...,8.350000,7.700000,7.800000,7.600000,7.583333,7.916667,7.75000,7.766667,7.700000,7.500000
std,11.293453,2.292212,1.908870,2.246403,2.035282,1.762766,2.036669,2.017648,1.905315,2.142125,...,1.929477,1.951097,2.089522,2.132874,2.499435,2.157303,2.54202,2.165732,2.188568,2.243635
min,2.000000,1.000000,1.000000,1.000000,2.000000,2.000000,2.000000,1.000000,2.000000,2.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.00000,1.000000,1.000000,1.000000
25%,19.000000,7.000000,7.000000,7.000000,6.000000,7.000000,7.000000,7.000000,7.000000,6.750000,...,8.000000,7.000000,7.000000,7.000000,7.000000,7.000000,7.00000,7.000000,7.000000,7.000000
50%,20.000000,9.000000,8.000000,9.000000,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000,...,9.000000,8.000000,8.000000,8.000000,8.000000,8.000000,9.00000,8.000000,8.000000,8.000000
75%,27.500000,10.000000,9.000000,10.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,...,10.000000,9.000000,9.250000,9.000000,9.000000,9.000000,10.00000,9.250000,9.000000,9.000000
max,55.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,...,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.00000,10.000000,10.000000,10.000000

## 5. Exibe os dados de uma coluna especifica e mostra o resultado descritivo

In [29]:
## EDA -  ANALISE EXPLORATORIA DE DADOS

In [30]:
df['language'].value_counts()
df['language'] = df['language'].str.lower()
df.dtypes

language     object
platform     object
gender       object
age         float64
q1          float64
q2          float64
q3          float64
q4          float64
q5          float64
q6          float64
q7          float64
q8          float64
q9          float64
q10         float64
q11         float64
q12         float64
q13         float64
q14         float64
q15         float64
q16         float64
q17         float64
q18         float64
q19         float64
q20         float64
q21         float64
q22         float64
q23         float64
q24         float64
q25         float64
q26         float64
dtype: object

In [31]:
df["platform"].value_counts()

platform
Mobile     50
Desktop    10
Name: count, dtype: int64

## 5 Encontrar correlaÃ§Ãµes entre colunas

In [34]:
df.corr()
display(df)

ValueError: could not convert string to float: 'Desktop'

In [36]:
sns.heatmap(df, annot=True)

ValueError: could not convert string to float: 'en'

In [ ]:
plt.figure(figsize=(15, 14))

sns.heatmap(
    df_
)